.SiteHeader__heading {
  padding-top: $spacing-05;
  height: $layout-06;
  padding-bottom: $spacing-07;
  background-color: #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  display: flex;
  align-items: center;
  justify-content: center;

  .SiteHeader__name {
    margin: $spacing-05;
    color: #161616;
    @include carbon--type-style('display-03');
    font-weight: 100;

    .SiteHeader__boldend {
      font-weight: 600;
    }
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
